{% extends "managment_layout.html" %}
{# menu/main_base.html extends menu_layout.html #}

{% block content %}
<div class="row" style="margin-top: 10px;">
  <div class="col-sm-4">
    <h3>Add New Menu:</h3>
    <div class="panel panel-default" id="add_item_panel" >
      <div class="panel-heading form-inline" >
      </div>
      <div class="panel-body">
        <form name="id_new_menu" id="id_new_menu" action="javascript:void(0);" >
          <label for="id_menu_name">Menu Name:</label>
          <input type="text" name="name" class="form-control" id="id_menu_name" placeholder="Name Here">
          <label for="id_choose_menu_items">Choose Menu Items:</label>
          <select id="id_choose_menu_items" name="employees" data-style="btn-default" class="selectpicker form-control" multiple>
            {# {% set eForR_id = restaurant.getEmployeeIds() %} #}
            {% for item in menuItems %}
                <option value="{{ item.id }}">{{ item.name }} </option>
            {% endfor %}
          </select>
          <div style="margin-top:10px;">
          <button id="id_save_new_menu"  type="button" class="btn btn-primary d-flex justify-content-center align-content-between pull-right" onclick="save('#id_new_menu','post','/api/menu')">
            <i class="material-icons">save_alt</i>
          </button>
          <button id="id_clear_new_menu"  type="button" class="btn btn-primary d-flex justify-content-center align-content-between pull-right" onclick="clearFields('#id_new_menu')">
            <i class="material-icons">clear</i>
          </button>
        </div>
        </form>
      </div>
    </div>

  </div>
  <div class="col-sm-4">
    <h3>Edit Existing Menus:</h3>
    {% for menu in menus %}
    <div class="panel panel-default" id="add_item_panel" >
      <div class="panel-heading form-inline" >

      </div>
      <div class="panel-body">
        Name: <input type="text" value="{{ menu.name }}" name="name" class="form-control" id="id_menu_name" placeholder="Name Here">

      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
