{% extends "layout.html" %}
{% block tb %}
  {{title}}
{% endblock %}

{% block body %}
<nav   class="navbar navbar-default navbar-fixed-top">
    <ul class="navbar-right">
      <a href="#cartModal" data-toggle="modal" data-target="#cartModal" id="cart"><i style="vertical-align: middle;" class="material-icons">shopping_basket</i><span class="badge" id="id_cartItemCount"> 0 </span></a>
    </ul>

</nav>

<!-- Cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ready for order:</h4>
      </div>
      <div id="id_modal_body" class="modal-body">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <tbody id='id_table_body'>
          </tbody>
        </table>
      </div>
      <div class="with-margins">
        TIP:
        <button type="button" class="btn" onclick="tipCalc(0)" >No Tip</button>
        <button type="button" class="btn" onclick="tipCalc(10)" >10%</button>
        <button type="button" class="btn" onclick="tipCalc(15)" >15%</button>
        <button type="button" class="btn" onclick="tipCalc(20)" >20%</button>
      </div>
      <div class="with-margins">
        GRAND TOTAL: <span id="id_cart_grand_total">0</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="submitOrder('/api/orders')">Order</button>
        <button type="button" class="btn" data-dismiss="modal" onclick="clearCart()" >Discard</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Cart Modal -->
<div class="modal fade" id="followOrderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ready for order:</h4>
      </div>
      <div id="id_modal_body" class="modal-body">
        Order submitted!
        <div> If you would like to track the status of your order <a id="id_followOrder" href="">follow this link!</a></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="with-margins" >
  <div class = "page-header" style="margin-top: 70px;">
     <h1>
        <a><img src="{{ url_for('static', filename=restaurant.picture_url)  }}" ></a>
        {% if restaurant.tagline_options == 'shiny'%}
          <b><div id="id_slogan"  class="shine" >{{ restaurant.tagline|upper }}</div></b>
        {% else %}
          <b><div id="id_slogan"  class="animated bounce infinite" >{{ restaurant.tagline|upper }}</div></b>
        {% endif %}
     </h1>
  </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        {% for c in restaurant.getMenu().categories %}
          {% if c.category.name in categories %}
            <h3> {{ c.category.name }}  </h3>
          {% endif %}
          {% for item in categorizedItems %}

            {% if item['category_name'] == c.category.name %}
            <div class="panel-group">
              <div class="panel panel-default">
                <a data-toggle="collapse" href="#panel_body_{{loop.index}}">
                  <div class="panel-heading">
                    <span>{{ item['item_name'] }}</span>
                    <span class="pull-right" ><i class="material-icons">expand_more</i></span>
                    <span class="pull-right" style="margin-right: 50%;" >Price: ${{ item['item_price'] }}</span>
                  </div>
                </a>
                <div id="panel_body_{{loop.index}}" class="panel-collapse collapse">
                  <hr>
                  <div class="panel-body">
                  <div class="with-margins">
                    <div class="row">
                      <div class="col-md-4"><label>Ingredients</label>{{ item['item_ingredients'] }}</div>
                      <div class="col-md-4"><label>Allergens:</label>{{ item['item_allergy_information'] }}</div>
                      <div class="col-md-4"><label></label>{{ item['item_information'] }}</div>
                    </div>
                    <span class="pull-right">
                      <button id="add_to_order_button" type="button" class="btn btn-primary justify-content-center align-content-between pull-right" onclick="addToOrder({{ item['item_price'] }}, {{ item['item_id'] }},'{{ item['item_name']}}','{{ restaurant.id }}')">
                        Add to Order
                      </button>
                      <script>
                        var cartItemCount = 0;
                        var cartObject = {
                          'restaurant' : {{ restaurant.id }},
                          'items' : {}
                        };

                        var tipCalc = function(percent){

                          if('total_price' in cartObject){
                            var total_price = cartObject['total_price'];
                            cartObject['tip'] = total_price * (percent/100);
                          }
                          console.log(cartObject);

                        };

                        var addToOrder = function(item_price,item_id,item_name,restaurant_id){
                          if(! ('_total_count' in cartObject)) cartObject['_total_count'] = 0;
                          if(! ('total_price' in cartObject)) cartObject['total_price'] = 0;

                          if(item_id in cartObject.items){

                            cartObject.items[item_id].count += 1;
                            cartObject['total_price'] += item_price;
                            cartObject['_total_count'] += 1
                            document.getElementById('id_count_' + item_name).innerHTML = cartObject.items[item_id].count;

                          }else{

                            cartObject.items[item_id] = {
                              count : 1,
                              name : item_name
                            };
                            cartObject['_total_count'] += 1
                            cartObject['total_price'] += item_price;
                            var tableBody = document.getElementById('id_table_body');

                            var row = '<tr><td id="id_name_'+ item_name +'" >'+item_name+' </td><td id="id_count_'+ item_name+'" >'+' 1 ' +'</td></tr>';
                            tableBody.innerHTML += row;
                          }
                          document.getElementById('id_cartItemCount').innerHTML =cartObject._total_count;
                          document.getElementById('id_cart_grand_total').innerHTML = cartObject.total_price;
                        };

                        var clearCart = function(){
                          cartObject = {
                            'restaurant' : {{ restaurant.id }},
                            'items' : {},
                            'tip': 0
                          };
                          var tableBody = document.getElementById('id_table_body').innerHTML = "";
                          document.getElementById('id_cart_grand_total').innerHTML = 0;
                          document.getElementById('id_cartItemCount').innerHTML = 0;
                        };

                        var submitOrder = function(url){
                          var data = cartObject;
                          console.log(data );

                          $.ajax({
                              type: "POST",
                              url: url,
                              // The key needs to match your method's input parameter (case-sensitive).
                              data: JSON.stringify(data),
                              contentType: "application/json; charset=utf-8",
                              dataType: "json",
                              success: function(data){
                                $('#cartModal').modal('hide');
                                $('#followOrderModal').modal('show');
                                $("#id_followOrder").attr("href","/"+data.restaurant_name+"/order/"+data.id );
                                clearCart();
                              },
                              failure: function(errMsg) {
                                console.log("FAILURE");
                                alert(errMsg);
                              }
                          });

                        };
                      </script>
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
      <div class="col-md-3"></div>
    </div>




{% endblock%}
