{% extends "main/main_base.html" %}
{# main/main_base.html extends layout.html #}
{% block content %}

<h3>Restaurant</h3>
<div class="panel panel-default" id="add_item_panel" >
    <div class="panel-heading form-inline" >
      Add a new restaurant.
    </div>

    <div class="panel-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Restaurant Name:</label>
        <input type="email" class="form-control" id="inputRestaurant" placeholder="Email">
        <label for="exampleInputEmail1">Restaurant Tagline:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
    </div>
  </div>
{% endblock %}
