/**** element styles ****/
hr { border-color: #cccccc; margin: 0px; }

/**** header, main and footer divs ****/
.header-title { font-size: 30px; }

/**** class-based style modifiers ****/

.no-margins { margin: 0px; }

.with-margins { margin: 10px; }

.col-centered { float: none; margin: 0 auto; }

body {
  margin-bottom: 60px;
  background: #1e2a2b;
  color: #ccc;
  font-family: 'Open Sans', sans-serif;
}

footer {
  position: absolute;
  background: #FFF;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

html {
  position: relative;
  min-height: 100%;
  background: #1e2a2b;
}
div{
  color: #015baf;
}

a{
  text-decoration: none !important;
}

a div {
  border: 0;
  text-decoration: none !important;
}
a div:hover {
  text-decoration: none !important;
}

img#flavortownne_logo{
  height: 40%;
  width: 40%;
  margin: 0 auto;
}

p.shine
{
    font-size: 1.5em;
    letter-spacing: 2px;
    margin: 0 auto;
    width: 700px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.shine
{
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;

    color: #015baf;
    -webkit-background-clip: text;

    -webkit-animation-name: shine;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shine
{
    0%
    {
        background-position: top left;
    }
    100%
    {
        background-position: top right;
    }
}

.chevron-down-custom span, .chevron-up-custom span {
  width: 10px;
  height: 5px;
  display: inline-block;
  transition: all .1s linear;

}
.chevron-down-custom .sp-1, .chevron-up-custom .sp-2 {
  transform: skewY(-40deg);
}

.chevron-up-custom .sp-1, .chevron-down-custom .sp-2 {
  transform: skewY(40deg);
}

.container {
}
