{% extends "menuitem/main_base.html" %}
{# menu/main_base.html extends managment_layout.html #}

{% block tb %}
{%  set title="Item Managment" %}
{{title}}
{% endblock %}

{% block content %}
<div class="row" style="margin-top: 10px;">
  <div class="col-sm-8">
    <h3>Edit Menu Items:</h3>
    {% for item in menuItems %}
      <script src="{{ url_for('static', filename='js/edit_menu.js') }}"></script>
      <div class="panel panel-default" id="panel_item_{{loop.index}}">
        <div class="panel-heading form-inline">
          <div style="width:40%;margin-right: 20px;" class="form-group">Dish:
            <span id="name_{{loop.index}}">{{ item.name }}</span>
          </div>
          <div  style="width:40%;" class="form-group">Price (USD):
            <span id="price_{{loop.index}}">{{ item.price }}</span>
          </div>

          <span id="id_{{loop.index}}" style="display:none" >{{ item.id }}</span>

        </div>
        <div class="panel-body">
          <div>Ingredients: <span id="ingredients_{{loop.index}}" >{{ item.ingredients }} </span></div>
          <div>Information: <span id="information_{{loop.index}}" >{{ item.information }} </span></div>
          <div>Allergens:<span id="allergy_information_{{loop.index}}" > {{ item.allergy_information }}</span></div>
          {% if item and item.containsRawMeat() %}
          <div>**Contains raw meat.</div>
          {% endif %}
          <div style="margin-top:10px;">
          <button id="edit_button_{{ loop.index }}" type="button" class="btn btn-primary d-flex justify-content-center align-content-between pull-right" onclick="makeEditable({{loop.index}})">
            <i class="material-icons ">edit</i>
          </button>
          {% if isOwner %}
            <button id="delete_button_{{ loop.index }}" type="button" style="visibility:hidden;" class="btn btn-danger d-flex justify-content-center align-content-between pull-right" onclick="deleteItem({{loop.index}})">
              <i class="material-icons">delete_forever</i>
            </button>
          {% endif %}
          <button id="save_button_{{ loop.index }}" type="button" style="visibility:hidden;" class="btn btn-primary d-flex justify-content-center align-content-between pull-right" onclick="saveEdits({{loop.index}})">
            <i class="material-icons">save_alt</i>
          </button>
          <button id="discard_button_{{ loop.index }}" type="button" style="visibility:hidden;" class="btn btn-primary d-flex justify-content-center align-content-between pull-right" onclick="discardEdits({{loop.index}})">
            <i class="material-icons">clear</i>
          </button>
        </div>
        </div>
      </div>
    {% endfor %}

  </div>
  <div class="col-sm-4">

    {% if isOwner %}
    <h3>Add New Item</h3>
    <div class="panel panel-default" id="add_item_panel" >

      <div class="panel-heading form-inline" >
        <div style="width:40%;margin-right: 20px;" class="form-group"> Name of Dish:
          <span id="add_name" style="width:100%;" class="form-control" contenteditable="true"></span>
        </div>
        <div style="width:40%;" class="form-group"> Price (USD):
          <span id="add_price" class="form-control" style="width:100%;" contenteditable="true"></span>
        </div>
      </div>
      <div class="panel-body">
        <div>Ingredients: <span id="add_ingredients" class="form-control" contenteditable="true" > </span></div>
        <div>Information: <span id="add_information" class="form-control" contenteditable="true" > </span></div>
        <div>Allergens:<span id="add_allergy_information" class="form-control" contenteditable="true" > </span></div>
        <button id="add_new_item" type="button" style="margin-top:10px;" class="btn btn-primary d-flex justify-content-center align-content-between pull-right" onclick="addNewItem()">
          Add Item
        </button>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
